 <div class="container">
 <nav>
    <div class="nav-wrapper">
      <a>News-Scraper</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="notes.handlebars">Saved Articles</a></li>
        <a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Scrape New Articles</a>
      </ul>
    </div>
  </nav>
<div class="row"></div>
<div class="col s12 header">News-Scraper App</div>
</div>
<div id="articles"></div>
</div>
 {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> --}}